# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Advent-Of-Code-2021.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
